* {
    box-sizing: border-box;
    font-family: neue-haas-unica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.content-wrapper {
    margin: 0 5vw;
}

h1 {
    font-family: scriptorama-markdown-jf, sans-serif;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    line-height: 5.5rem;
    position: absolute;
    top: 50px;
    color: #fff;
    z-index: 5;
    margin-left: 5px;
}

.title-collector, .title-insect {
    display: block;
    font-family: scriptorama-markdown-jf, sans-serif;
}

.title-collector {
    margin-left: 55px;
}


.add-insect-option {
    position: relative;
    top: 70px;
    right: 80px;
    text-align: center;
    float: right;
}

.add-insect-option p {
    font-size: 1.5rem;
    font-weight: 700;
}

.add-now-button, .add-to-collection-button {
    font-family: scriptorama-markdown-jf, sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #F26608;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 30px;
}

.add-to-collection-button {
    margin-top: 0;
}

.add-now-button:hover {
    cursor: pointer;
}


h2 {
    font-family: scriptorama-markdown-jf, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    line-height: 3rem;
    text-transform: uppercase;
    margin-top: 30px;
    color: #F26608;
}

.species {
    font-weight: 600;
}

.insects p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.green-leaf {
    position: relative;
    top: -200px;
    left: -17px;
    width: 420px;
    transform: rotate(-75deg);
    z-index: 1;
}

.container-insects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -200px;
}

.container-insects img {
    border-radius: 50%;
    width: 80%;
}

.container-insects p {
    font-family: neue-haas-unica, sans-serif;
}

.insects {
    width: 33%;
    text-align: center;
    padding-bottom: 100px;
}

.insects image {
    width: 100%;
}

form {
    margin-left: 30vw;
    background-color: #C0E5B7;
    border-radius: 20px;
    width: 400px;
    padding: 1px 0 40px 40px;
}

label {
    text-transform: uppercase;
    padding: 20px 0 15px 0;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

label, input {
    display: block;
}

input {
    width: 300px;
    padding: 10px 15px 10px 10px;
    border-radius: 10px;
    border: none;
}

form {
    margin-bottom: 10px;
}

.upload-image-button {
    cursor: pointer;
    color: #fff;
    background: #358721;
    padding: 7px 7px 7px 13px;
    width: 160px;
    border-radius: 5px;
    margin-top: 35px;
}

input[type="file"] {
    visibility: hidden;
}


@media only screen and (max-width: 1100px) {
    .insects {
        width: 50%;
    }
    .add-insect-option {
        right: 0;
    }
}

@media only screen and (max-width: 920px) {
    .container-insects {
        top: -180px;
    }
    .add-insect-option {
        float: none;
        position: relative;
        top: -230px;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 2.6rem;
        line-height: 3.9rem;
        top: 28px;
    }
    .add-insect-option {
        float: none;
        position: relative;
        top: -180px;
    }
    .green-leaf {
        width: 300px;
        top: -150px;
    }
    .container-insects {
        top: -130px;
        justify-content: space-around;
    }
    .insects {
        width: 90%;
    }
}

